<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nexo-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="acerca-container">

    <div class="seccion">
      <h2 class="titulo">Contacto</h2>
      <p class="texto">Nombre: Brandon Yair Raudales Almanza</p>
      <p class="texto">Correo: 482200364@alumnos.utzac.edu.mx</p>
    </div>

    <div class="seccion">
      <h2 class="titulo">Numero</h2>
      <p class="texto">Numero:4929496572 </p>
      <p class="texto"></p>
    </div>

  </div>
</ion-content>